<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diary App</title>
    {% load static %}
    <link href="{% static 'images/favicon.ico' %}" rel="icon" type="image/x-icon">
    <link href="{% static 'css/tailwind.css' %}" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <header class="bg-white shadow-sm">
        <nav class="container mx-auto px-4 py-4 flex justify-between items-center">
            <div class="flex space-x-4 items-center">
                <img src="{% static 'images/android-chrome-192x192.png' %}" alt="Logo" class="h-8 w-8 mr-2 scale-75">
                <a href="{% url 'diary_entries' %}" class="text-gray-700 hover:text-gray-900">Diary Entries</a>
                <a href="{% url 'search' %}" class="text-gray-700 hover:text-gray-900">Search</a>
            </div>
            <div class="flex space-x-4">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="text-gray-700 hover:text-gray-900">Logout</a>
                {% else %}
                    <a href="{% url 'register' %}" class="text-gray-700 hover:text-gray-900">Register</a>
                    <a href="{% url 'login' %}" class="text-gray-700 hover:text-gray-900">Login</a>
                {% endif %}
            </div>
        </nav>
    </header>
    <main class="container mx-auto px-4 py-8">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="bg-white shadow-sm">
        <div class="container mx-auto px-4 py-4">
            &copy; 2023 Sebastian Bergt
        </div>
    </footer>
</body>
</html>
