{% extends 'diary_app/base.html' %}

{% block content %}
    <h1 class="text-2xl font-semibold mb-4">Register</h1>

    <form method="post" class="bg-white shadow-md rounded-md p-6">
        {% csrf_token %}
        <div class="space-y-4">
            {% for field in form %}
                <div>
                    <label for="{{ field.auto_id }}" class="block text-gray-700">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <p class="text-red-500">{{ field.errors.0 }}</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700 mt-4">Register</button>
    </form>

    <p class="mt-4">Already have an account? <a href="{% url 'login' %}" class="text-blue-500 hover:text-blue-700">Login</a></p>
{% endblock %}
